@page "/motorcycles/details/{id}"
@inject IMotorcyclesService MotorcyclesService

@using TylorTrubPortfolioBlazor.DTO.Models
@using TylorTrubPortfolioBlazor.Server.BL.Services

Note: This page is still under development. Test second.

@if (motorcycle == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <MudCard>
        <MudCardContent>
            <h1>Motorcycle details:</h1>
            <MudForm>
                <MudSimpleTable>
                    <tr>
                        <th>
                            @motorcycle.MotorcycleName
                        </th>
                        <th>
                            Torque: @motorcycle.Torque
                        </th>
                        <th>
                            BHP: @motorcycle.Hp
                        </th>
                        <th>
                            Engine: @motorcycle.EngineStyle
                        </th>
                    </tr>
                </MudSimpleTable>

                <h2>Motorcycle Selected - You clicked @("20" + motorcycle.Year.ToString()) @motorcycle.MotorcycleName</h2>
                <img src="Images/Home/Motorcycle/@motorcycle.Picture" width="356px" height="200px" class="border-0 rounded" />
                <br />
                <br />

                <p>Price: $12,929.99</p>
                <p>Motorcycle CCs: @(motorcycle.MotorcycleCc + "cc")</p>
                <p>Manufacturer: @motorcycle.Manufacturer</p>
                <p>Year: @("20" + motorcycle.Year.ToString())</p>
                <p>Engine Config: @motorcycle.EngineStyle</p>
                <p>Torque: @motorcycle.Torque</p>
                <p>Horsepower: @motorcycle.Hp</p>
                <p>Brakes: @motorcycle.Brakes</p>

                <MudButton Style="color: blue; background: orange;" type="submit">Buy</MudButton>

            </MudForm>
        </MudCardContent>
    </MudCard>
    
}

@code {
    public Motorcycle motorcycle { get; set; }

    [Parameter]
    public string Id { get; set; }

    protected async override void OnInitialized()
    {
        motorcycle = await MotorcyclesService.FetchMotorcycleAsync(int.Parse(Id));
    }

}